h1 {
  text-align: center;
}

div {
  margin: 100px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  transform: rotate(-90deg);
}

td {
  color: red;
  text-align: center;
  table-layout: fixed;
  border: 2px solid red;
}

th {
  transform: rotate(90deg);
}


td.space {
  background-color: white;
}


p.number {
  transform: rotate(90deg);
  text-align: center;
}

p.bars {
  background-color: black;
}

.value {
  transform: rotate(90deg);
  color: red;
}

.container{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}
