.container{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

td {
  color: red;
  text-align: center;
  background-color: black;
  table-layout: fixed;
}

p.Y {
  background-color: red;
  border 2px solid black;
}

td.Y {
  background-color: white;
}

td.space {
  background-color: white;
}

p.number {
  transform: rotate(90deg);
  text-align: center;
}

p.Y {
  background-color: red;
  height: 1px;
}

p.number {
  transform: rotate(90deg);
  text-align: center;
}


table {
  border-collapse: collapse;
  transform: rotate(270deg);
  table-layout: fixed;
}
.value {
  transform: rotate(90deg);
  color: red;
}

div {
  margin: 100px;
}

h1 {
  text-align: center;
}
